<h1>Shattered Throne</h1>
<%= link_to "Home", root_path, method: "get"%>
<h2>First Encounter Maze</h2>
<%= image_tag "shattered/shattered_map.jpg" %></br>
<h2>Vorgeth</h2>
<%= image_tag "shattered/vorgeth.jpg" %></br>
<h2>Dul Incaru</h2>
<%= image_tag "shattered/dul_incaru.jpg" %></br>
